/** Start Generation Here */
:root {
  --background-color: #d9ebdb;
  --light-color: #e9f7f5;
  --dark-color: #0e4c2c;
  --text-color: #141313;
  --link-color: #007749;
  --link-hover-color: #007749cc;
}
/** End Generation Here */
